<header class="header">
  <div class="container header__container">
    <a href="index.html" class="header__logo">FilmLog.</a>

    <nav class="header__nav">
      <ul class="header__nav-list">
        <li>
          <a href="camera-selection.html" class="header__nav-link">카메라</a>
        </li>
        <li>
          <a href="film-selection.html" class="header__nav-link">필름</a>
        </li>
        <li>
          <a href="archive.html" class="header__nav-link">아카이브</a>
        </li>
        <li><a href="shop.html" class="header__nav-link">사진인화</a></li>
      </ul>
    </nav>

    <a href="login.html" class="btn btn--black">로그인</a>
  </div>
</header>
